nav[data-toggle=toc] .nav-link.active,
nav[data-toggle=toc] .nav-link.active:focus,
nav[data-toggle=toc] .nav-link.active:hover,
nav[data-toggle=toc] .nav>li>a:focus,
nav[data-toggle=toc] .nav>li>a:hover {
    //color: #7c3d3d !important;
    color: var(--post-link) !important;
    border-left: 2px solid var(--post-link) !important;
}

nav[data-toggle=toc] .nav>li>a:focus,
nav[data-toggle=toc] .nav>li>a:hover {
 border-left:1px solid var(--post-link) !important;
}