<!--
  The Top Bar
-->

<div id="topbar-wrapper" class="row justify-content-center topbar-down">
  <div id="topbar" class="col-11 d-flex h-100 align-items-center justify-content-between">
    <span id="breadcrumb">

    {% assign paths = page.url | split: '/' %}

    {% if paths.size == 0 %}
      <!-- index page -->
      <span>{{ 'Publicaciones' }}</span>
    {% else %}

      {% for item in paths %}

        {% if forloop.first %}
          {% unless page.layout == 'post' %}
          <span>
            <a href="{{ '/' | relative_url }}">{{ 'Inicio' }}</a>
          </span>
          {% endunless %}

        {% elsif forloop.last %}
          <span>{{ page.title }}</span>

        {% else %}
        <span>
          {% assign url = item %}
          {% if item == 'posts' and page.layout == 'post' %}
            {% assign url = '/' %}
          {% endif %}
          <a href="{{ url | relative_url }}">
            {% if item == "posts" %}
              Publicaciones
            {% elsif item == "categories"%}
              Categorías
            {% elsif item == "tags"%}
              Etiquetas
            {% else %}
              {{ item | capitalize }}
            {% endif %}
          </a>
        </span>

        {% endif %}

      {% endfor %}

    {% endif %}

    </span><!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.title -}}
      {% elsif page.dynamic_title %}
        {{- page.title -}}
      {% else %}
        {{- layout.spanish | capitalize -}}
      {% endif %}
    </div>

    {% include search-input.html %}
  </div>

</div>
